<html>
    <head><h2>Calendarinho Notification</h2></head>
    <body>
        <p>Dear {{first_name}},</p>
        <p>
            <b>{{ message }}</b>
            <br>
            <b>Leave type:</b> {{ leave_type }}
            <br>
            <b>Leave note:</b> {{ note }}
            <br>
            <b>Start date:</b> {{ start_date }}
            <br>
            <b>End date:</b> {{ end_date }}
            <br>
            You can see {{ Employee }} calendar <a href="{{profile_url}}" class="alert-link">here</a>
        </p>
        <p>
            Best Regards,
            <br>
            Calendarinho team
        </p>
    </body>
</html>