
.bg-gradient-primary{
    background: rgb(0, 64, 40) !important;
    background: linear-gradient(0deg, rgba(0, 64, 40, 1) 0%, rgba(0, 83, 52, 1) 100%) !important;
}

.bg-primary{
    background: #A49775 !important;
}

.border-primary{
    border-color: #A49775 !important;
}


.btn-primary {
    background: rgb(0, 64, 40) !important;
    border: 0px !important;
}

.m-0.font-weight-bold.text-primary {
    color: #A49775 !important;
}

.dropdown-header {
    background-color: #A49775 !important;
    border: 0px !important;
}

.dropdown-item:hover {
    background-color: #A49775 !important;
    color: white !important;
}

a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm {
    background-color: #A49775 !important;
}



ul.pagination li.paginate_button.page-item.active a.page-link{
    background-color: #004028 !important;
    color: white !important;
    border-color: #42778D !important;
}

.pagination a{
    color: #42778D !important; 
}
  
.pagination a:hover:not(.active) {
    background-color: #F2F2E9 !important;
    border-color: #A49775;
    color: #42778D !important;
}
