.bg-gradient-primary {
    background: linear-gradient(0deg, #001a40 0%, rgb(0, 54, 83) 100%) !important;
}

.bg-primary {
    background: #9e6394 !important;
}

.border-primary {
    border-color: #9e6394 !important;
}

.btn-primary {
    background: #001a40 !important;
    border: 0px !important;
}

.m-0.font-weight-bold.text-primary {
    color: #9e6394 !important;
}

.dropdown-header {
    background-color: #9e6394 !important;
    border: 0px !important;
}

.dropdown-item:hover {
    background-color: #9e6394 !important;
    color: white !important;
}

a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm {
    background-color: #001a40 !important;
}

ul.pagination li.paginate_button.page-item.active a.page-link {
    background-color: #9e6394 !important;
    color: white !important;
    border-color: #b874ac !important;
}

.pagination a {
    color: #42778D !important;
}

.pagination a:hover:not(.active) {
    background-color: #f2e9f1 !important;
    border-color: #9e6394;
    color: #8d4242 !important;
}

.text-title-color {
    color: #5a5c69 !important;
}

:root {
    --primaryColor: rgb(66, 119, 141);
    --chartColor: #9e6394;
    --gridlines: #b6b6b6;
}

.grayCenterText{
    color:rgb(189, 189, 189);
    text-align:center;
}