{% extends 'CalendarinhoApp/BaseNew.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_block %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}


{% block body_block %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-title-color">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ongoing engagements
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-title-color">{{statistics.ongoingEngagements}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sync-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Upcoming engagements
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-title-color">{{statistics.upcomingEngagements}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-handshake fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Employees Utilization
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-title-color">
                                        {{statistics.availabilityPercentage}}</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: {{statistics.availabilityPercentage}}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-running fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Number of Employees
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-title-color">{{statistics.numberOfEmployees}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <!--<div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">-->
        <!-- Card Header - Dropdown -->
        <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>-->
        <!-- Card Body -->
        <!--<div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
            </div>-->

        <div class="col-xl-8 col-lg-7">
        {% if statistics.2020UtilizationChart %}
            <!-- Utilization Chart -->
                {% comment %} <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">2020 Utilization</h6>
                    </div>
                    <div class="card-body">
                        {% include "CalendarinhoApp/utilizationChart.html" %}
                    </div>
                </div> {% endcomment %}
        {% endif %}

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Ongoing Engagements</h6>
            </div>
            <div class="card-body">
                {% for eng in statistics.engagementsBars%}
                {% if eng.precent < 25 %}
                <h4 class="small font-weight-bold"><a href="engagement/{{eng.engid}}" style="text-decoration: inherit; color: inherit">{{eng.engName}}</a><span class="float-right">{{eng.precent}}%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{eng.precent}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {% endif %}
                {% if eng.precent < 50 and eng.precent >= 25 %}
                <h4 class="small font-weight-bold"><a href="engagement/{{eng.engid}}" style="text-decoration: inherit; color: inherit">{{eng.engName}}</a><span class="float-right">{{eng.precent}}%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: {{eng.precent}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {% endif %}
                {% if eng.precent < 75 and eng.precent >= 50 %}
                <h4 class="small font-weight-bold"><a href="engagement/{{eng.engid}}" style="text-decoration: inherit; color: inherit">{{eng.engName}}</a><span class="float-right">{{eng.precent}}%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{eng.precent}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {% endif %}
                {% if eng.precent <= 100 and eng.precent >= 75 %}
                <h4 class="small font-weight-bold"><a href="engagement/{{eng.engid}}" style="text-decoration: inherit; color: inherit">{{eng.engName}}</a><span class="float-right">{{eng.precent}}%</span></h4>
                <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{eng.precent}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Employees Status</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <a href="EmployeesTable">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                    </a>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle" style="color:#46B39D"></i> Available
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle" style="color:#F0CA4D"></i> Engaged
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle" style="color:#006A94"></i> Training
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle" style="color:#E37B40"></i> Vacation
                        </span>
                    </div>
                </div>
            </div>

            <!-- Avaliblity Calculator-->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Avalibality Calculator</h6>
                </div>
                <div class="card-body container">
                    <div class="row">
                        <div class="col-5">
                            {{ form|crispy }} {% csrf_token %}
                            <p id="errorMSG" style="color:red;"></p>
                            <input id="checkAPI" type="submit" value="Submit">
                        </div>
                        <div class="col-7">
                            <b>Available Employees:</b>
                            <ul id="listOfAvalibleEmps"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- End of Main Content -->

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script>
    var avalible = {{statistics.pieChartStatus.avalible}};
    var engaged = {{statistics.pieChartStatus.engaged}};
    var training = {{statistics.pieChartStatus.training}};
    var vacation = {{statistics.pieChartStatus.vacation}};
</script>
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
<!--The following script is to make AJAX request to check the overlap-->
<script>
    $(document).ready(function() {
        $("#checkAPI").click(function(event) {
            var date1 = new Date(document.getElementById("id_Start_Date").value);
            var date2 = new Date(document.getElementById("id_End_Date").value);
            if (date1 <= date2) {
                $("#errorMSG").html("")
                var token = '{{csrf_token}}';
                $.ajax({
                    headers: {
                        "X-CSRFToken": token
                    },
                    type: "POST",
                    url: "EmployeesCalendar/overlap/",
                    data: {
                        'Start_Date': $('#id_Start_Date').val(),
                        'End_Date': $('#id_End_Date').val()
                    },
                    success: function(response) {
                        $('#listOfAvalibleEmps').html("")
                        if (response["emp"].length == 0) {
                            $('#listOfAvalibleEmps').html("No employees are available at this period.")
                        } else {
                            for (var i = 0; i < response["emp"].length; i++) {
                                $('#listOfAvalibleEmps').append("<li> <a href='/profile/" + response["id"][i] + "'>" + response["emp"][i] + "</a></li>");
                            }
                        }

                    }
                });
                return false; //<---- move it here
            } else {
                $('#listOfAvalibleEmps').html("")
                $("#errorMSG").html("End date is before start date")
            }
        });

    });
</script>
{% endblock %}