{% extends 'CalendarinhoApp/BaseNew.html' %}
{% load static %}



{% block head_block %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
<!-- Page level plugins -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Employees Table</h1>
    <p class="mb-4">List of all emplyees names and their current and upcoming event.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employees Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>End Date</th>
                            <th>Next Event</th>
                            <th>Start date</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>End Date</th>
                            <th>Next Event</th>
                            <th>Start date</th>
                            
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for row in table %}
                        <tr>
                            <td><a href="/profile/{{row.empID}}">{{row.name}}</a></td>
                            <td>{{row.status}}</td>
                            <td>{{row.endDate}}</td>
                            <td>{{row.nextev}}</td>
                            <td>{{row.startDate}}</td>

                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
        </div>
<!-- End of Main Content -->


{% endblock %}
