{% extends 'CalendarinhoApp/BaseNew.html' %}
{% load static %}



{% block head_block %}
{% endblock %}


{% block body_block %}
<div class="container-fluid">
<h1 class="h3 mb-2 text-gray-800">{{eng.EngName}}</h1>
<div class="row">
            <!-- Upcoming Engagement Card-->
            <div class="col-xl-4 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Client</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <h4 align="center"><a href="/client/{{eng.CliName.id}}">{{eng.CliName}}</a></h4>
                    </div>
                </div>
            </div>    

            <!-- Upcoming Engagement Card-->
            <div class="col-xl-4 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Engagement period</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <h4 align="center">{{eng.StartDate}}  -  {{eng.EndDate}}</h4>
                    </div>
                </div>
            </div>   


            <!-- Upcoming Engagement Card-->
            <div class="col-xl-4 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Service Type</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <h4 align="center">{{eng.ServiceType}}</h4>
                    </div>
                </div>
            </div>   
    </div>
    <div class="card shadow mb-4 col-xl-4 col-lg-7">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Employees Involvment</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in eng.Employees.all %}
                        <tr>
                            <td><a href="/profile/{{emp.id}}">{{emp.first_name}} {{emp.last_name}}</a></td>


                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}