{% extends 'CalendarinhoApp/BaseNew.html' %}
{% load static %}



{% block head_block %}
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
<!-- Page level plugins -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Engagements Table</h1>
            <a href="/exportcsv/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>
    <p class="mb-4">List of all engagements with all details.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Engagements Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Client</th>
                            <th>Service Type</th>
                            <th>Start date</th>
                            <th>End Date</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Client</th>
                            <th>Service Type</th>
                            <th>Start date</th>
                            <th>End Date</th>
                            
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for row in table %}
                        <tr>
                            <td><a href="/engagement/{{row.engID}}">{{row.name}}</a></td>
                            <td>{{row.clientName}}</td>
                            <td>{{row.serviceType}}</td>
                            <td>{{row.startDate}}</td>
                            <td>{{row.endDate}}</td>

                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
        </div>
<!-- End of Main Content -->


{% endblock %}
