{% extends 'CalendarinhoApp/BaseNew.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_block %}
{% endblock %}


{% block body_block %}
<meta charset="utf-8" />
{% load static %}
<link href='{% static "fullcalendar/packages/core/main.css"%}' rel='stylesheet' />
<link href='{% static "fullcalendar/packages/daygrid/main.css"%}' rel='stylesheet' />
<script src='{% static "fullcalendar/packages/core/main.js" %}'></script>
<script src='{% static "fullcalendar/packages/interaction/main.js" %}'></script>
<script src='{% static "fullcalendar/packages/daygrid/main.js" %}'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            header: {
                left: 'prevYear,prev,next,nextYear today',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,dayGridDay'
            },
            navLinks: true, // can click day/week names to navigate views
            editable: false,
            hiddenDays: [6, 5],
            eventLimit: true, // allow "more" link when too many events
            events: [
              {%for i in events %} {
                    title: "{{ i.title}}",
                    start: '{{ i.start}}',
                    end: '{{ i.end}}',
                    url: '/engagement/{{ i.id }}',
                    backgroundColor: '{{i.color}}',
                    borderColor: 'white'

                },

                {% endfor %}

            ]

        });

        calendar.render();
    });
</script>
<div style="padding:25px">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Upcoming Engagement</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">

            <div id='calendar'></div>

        </div>
    </div>

    <div id='calendar'></div>
  </div>
</div>
{% endblock %}