{% load static %}
<canvas id="myChart"></canvas>
<script src="{% static 'js\chart.js-2.9.4\package\dist\Chart.min.js' %}"></script>
<script>
    var chartData = {{ statistics.2020UtilizationChart }};
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'August', 'September', 'October', 'November', 'December'],
        datasets: [{
            label: '2020 Employees Utilization',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: chartData
        }]
    },

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return value +'%';
                    }
                }
            }]
        }
    }
});
</script>
